<%=  form_for list do |f| %>
  <% if list.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(list.errors.count, "error") %>.</h4>
      <ul>
        <% list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form_group_tag(list.errors[:title]) do %>
     <%= f.label :title %>
     <%= f.text_field :title, class: 'form-control', placeholder: "Enter a To-Do List title" %>
   <% end %>

    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success' %>
      <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
    </div>

  <% end %>
