
  <div class='js-items'>
      <table id='js-table' class="table table-hover">
            <h1 class = "text-center"><%= markdown @list.title %>
            <%= link_to "Edit List Name", edit_list_path(@list), class: 'btn btn-success' %></h1>
            <thead>
              <tr>
                <th>Complete</th>
                <th>To Do Items</th>
                <th>Time till Self-Destruction</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @list.items.each do |item| %>
                <% unless item.completed? %>
                    <%= render  partial: 'items/item', locals: {item: item} %>
                 <% end %>
               <% end %>

              <% @list.items.each do |item| %>
                <% if item.completed? %>
                    <%= render  partial: 'items/completeditem', locals: {item: item} %>
                 <% end %>
               <% end %>

            </tbody>
          </table>
  </div>

  <div class="new-item">
  <%= form_for [@list, @list.items.new], remote: true do |f| %>

  <% if @list.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(list.errors.count, "error") %>.</h4>
      <ul>
        <% @list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-inline" role="form">
    <div class="form-group">
       <%= f.label :"Enter New To-Do Item" %>
       <div class="row">
         <div class="col-xs-6">
            <%= f.text_field :body, class: 'form-control', placeholder: "Enter To-Do Item" %>
        </div>
        <div class="col-xs-2">
          <%= f.submit "Save To-Do Item", class: 'btn btn-default' %>
        </div>
        <div class="col-xs-4">
        </div>
      </div>
    </div>
  </form>
 <% end %>
  </div>
