
   <%= content_tag :tr, class: 'media', id: "item-#{item.id}" do %>


        <td><%=  check_box_tag 'completed', "1", false, id: "item-#{item.id}" %></td>
        <td><%= markdown item.body  %></td>
        <td><%= time_ago_in_words(item.created_at+1.week) %></td>
        <td><% if policy(item).edit? %>
           <%= link_to "Edit", [item.list, item], method: :edit, remote: true %>
        <% end %>

        <% if policy(item).destroy? %>
          | <%= link_to "Delete", [item.list, item], method: :delete, remote: true %>
        <% end %>
        </td>


  <% end %>
