
   <%= content_tag :tr, class: 'media', id: "item-#{item.id}" do %>
        <% if policy(item).complete? %>
        <td><%= link_to([item.list, item], method: :patch, remote: true) do
          check_box_tag 'completed', "1", false, id: "item-complete#{item.id}"
        end %></td>
        <% end %>
        <td><%= markdown item.body  %></td>
        <td><%= time_ago_in_words(item.created_at+1.week) %></td>
        <td>
        <% if policy(item).destroy? %>
          <%= link_to "Delete", [item.list, item], method: :delete, remote: true %>
        <% end %>
        </td>


  <% end %>
